/* Iconize 0.5 */


.email {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_mailto.gif) no-repeat 100% 60%;
}
.tel {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_call.gif) no-repeat 100% 30%;
}
a[href *="macbruker.com"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_external.gif) no-repeat 100% 70%;
}
a[href *="linkedin.com"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/linkedin.gif) no-repeat 100% 50%;
}
a[href *="twitter.com"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/twitter.gif) no-repeat 100% 50%;
}
/* dribbble */
a[href*="dribbble.com/macbruker"] {
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_dribbble.gif) no-repeat 100% 50%;
}
/* websites (pictures and movies) */
a[href *="youtube.com/watch?"], a[href *="sevenload.com/videos/"], a[href *="metacafe.com/watch/"] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_film.gif) no-repeat 100% 50%;
}

a[href *="flickr.com/photos/"], a[href *="zooomr.com"], a[href *="imageshack.us"], a[href *="bubbleshare.com"], a[href *="sevenload.com/bilder/"] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_pic.gif) no-repeat 100% 50%;
}

/* extensions */

a[href$='.doc'], a[href$='.rtf'] {
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_doc.gif) no-repeat 100% 50%;
}

a[href$='.txt'] {
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_txt.gif) no-repeat 100% 50%;
}

a[href$='.xls'] {
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_xls.gif) no-repeat 100% 50%;
}

a[href$='.rss'], a[href$='.atom'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_feed.gif) no-repeat 100% 50%;
}

a[href$='.opml'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_opml.gif) no-repeat 100% 50%;
}

a[href$='.phps'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_phps.gif) no-repeat 100% 50%;
}

a[href$='.phps'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_phps.gif) no-repeat 100% 50%;
}

a[href$='.torrent'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_torrent.gif) no-repeat 100% 50%;
}

a[href$='.vcard'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_vcard.gif) no-repeat 100% 50%;
}

a[href$='.exe'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_exe.gif) no-repeat 100% 50%;
}

a[href$='.dmg'], a[href$='.app'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_dmg.gif) no-repeat 100% 50%;
}

a[href$='.pps'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_pps.gif) no-repeat 100% 50%;
}

a[href$='.pdf'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_pdf.gif) no-repeat 100% 50%;
}

a[href$='.xpi'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_plugin.gif) no-repeat 100% 50%;
}

a[href$='.fla'], a[href$='.swf'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_flash.gif) no-repeat 100% 50%;
}

a[href$='.zip'], a[href$='.rar'], a[href$='.gzip'], a[href$='.bzip'], a[href$='.ace'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_archive.gif) no-repeat 100% 50%;
}

a[href$='.ical'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_ical.gif) no-repeat 100% 50%;
}

a[href$='.css'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_css.gif) no-repeat 100% 50%;
}

a[href$='.ttf'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_ttf.gif) no-repeat 100% 50%;
}

a[href$='.jpg'], a[href$='.gif'], a[href$='.png'], a[href$='.bmp'], a[href$='.jpeg'], a[href$='.svg'], a[href$='.eps'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_pic.gif) no-repeat 100% 50%;
}

a[href$='.mov'], a[href$='.wmv'], a[href$='.mp4'], a[href$='.avi'], a[href$='.mpg'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_film.gif) no-repeat 100% 50%;
}

a[href$='.mp3'], a[href$='.wav'], a[href$='.ogg'], a[href$='.wma'], a[href$='.m4a'] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_music.gif) no-repeat 100% 50%;
}

/* messenger */
a[href ^="aim:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_aim.gif) no-repeat 100% 50%;
}

a[href ^="msnim:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_msn.gif) no-repeat 100% 50%;
}

a[href ^="xmpp:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_jabber.gif) no-repeat 100% 50%;
}

a[href *="icq.com"] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_icq.gif) no-repeat 100% 50%;
}

a[href *="edit.yahoo.com/config/send_webmesg?"] { 
	padding: 2px 20px 0 0;
	background: transparent url(iconize/icon_yim.gif) no-repeat 100% 50%;
}

a[href ^="callto:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_call.gif) no-repeat 100% 50%;
}

a[href ^="skype:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_skype.gif) no-repeat 100% 50%;
}

a[href ^="gg:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_gadugadu.gif) no-repeat 100% 50%;
}

/* email */
a[href ^="mailto:"] {
	padding: 2px 20px 0 0;
    background: transparent url(iconize/icon_mailto.gif) no-repeat 100% 50%;
}





/* use this class to make sure that images won't get iconized */

.imageLink {
	padding-right: 0px !important;
	background: none !important;
}